/* Home HTML template & some css taken from:
    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h
 */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 1;
  border-radius: 0;
}

/* Set default fonts for the body of the page */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.col {
  margin: 2%;
}

/* Error messages for the user */
.error {
  background: #f44336;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

/* Success messages for the user */
.success {
  background: forestgreen;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 100%;
  display: flex;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.newpost {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-gap: 10px;
  margin: 2%;
}

.newpost p {
  margin: 1px;
  padding-left: 1%;
}

.blogpost {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-gap: 10px;
  margin: 1px;
  padding: 1px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
      }
    .row.content {height:auto;}
}

.table--hidden {
  display: none;
}

.list--hidden {
    display: none;
}
