<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>COMP440 DB Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body>
    <header>
        <h1>Comp440</h1>
    </header>

    <!-- pushes everything to the middle -->
    <section class="container">

      <!-- Form page for logging in -->
      <form class="form" id="formLogIn">
          <h1>Log In</h1>
          <div class="msg"></div>

          <div>
              <!-- input for username -->
              <label for="userName">Username:</label>
              <input type="text" id="userNameLogIn">
          </div>
          <div>
              <!-- input for password -->
              <label for="password">Password:</label>
              <input type="password" id="passwordLogIn">
          </div>

          <p class="form__text">
              <a class="form__link" href="/register.html" id="linkCreateAccount">Don't have an account? Create account</a>
          </p>

          <input class="btn" id="loginButton" type="submit" value="Submit"> <!-- input submit button -->
        </form>
    </section>
</body>
</html>
